[Unit]
Description=Tavernbot: The best RPG bot for Discord
Documentation=https://github.com/jakerunsdnd/tavernbot
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
WorkingDirectory=/opt/tavernbot
ExecStart=/usr/bin/node bot.js >> /var/log/tavernbot.log
Restart=on-failure
RestartSec=60s
#Only available in systemd 236+
#StandardOutput=file:/var/log/bot.log
#StandardError=file:/var/log/bot.err

[Install]
WantedBy=multi-user.target
